.86_3 { 
	overflow:hidden;
}
.e86_3 { 
	background-image:linear-gradient(0deg, rgba(255, 81.00000277161598, 47.0000009983778, 1) 1.5625%,rgba(221.00000202655792, 36.00000165402889, 118.00000056624413, 1) 100%) ;
	width:1440px;
	height:1024px;
	position:absolute;
}
.e86_4 { 
	color:rgba(255, 255, 255, 1);
	width:200px;
	height:45px;
	position:absolute;
	left:620px;
	top:512px;
	font-family:Mouse Memoirs;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e86_5 { 
	color:rgba(0, 0, 0, 1);
	width:303px;
	height:76px;
	position:absolute;
	left:568px;
	top:32px;
	font-family:MuseoModerno;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e86_6 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:55px;
	height:55px;
	position:absolute;
	left:803px;
	top:585px;
}
.e86_7 { 
	width:50px;
	height:50px;
	position:absolute;
	left:806px;
	top:587px;
	background-image:url(images/discord_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e86_8 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:55px;
	height:55px;
	position:absolute;
	left:733px;
	top:585px;
}
.e86_9 { 
	width:50px;
	height:50px;
	position:absolute;
	left:735.5px;
	top:586.5px;
	background-image:url(images/github_mark_white_80x80_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e86_10 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:55px;
	height:55px;
	position:absolute;
	left:657px;
	top:586px;
}
.e86_11 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:55px;
	height:55px;
	position:absolute;
	left:581px;
	top:585px;
}
.e86_12 { 
	width:33.333335876464844px;
	height:40px;
	position:absolute;
	left:592px;
	top:593px;
	background-image:url(images/twitch_icon_purple_transparent_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e86_13 { 
	width:200px;
	height:200px;
	position:absolute;
	left:620px;
	top:151px;
	background-image:url(images/kronk_450x450_trans_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e86_14 { 
	width:40.74074172973633px;
	height:30px;
	position:absolute;
	left:665px;
	top:597px;
	background-image:url(images/youtube_logo_png_2069_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
