.TV {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.TV .div {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid;
  border-color: #001f3f;
  background: linear-gradient(180deg, rgb(221, 36, 118) 0%, rgb(255, 81, 47) 100%);
  width: 1280px;
  height: 720px;
  position: relative;
}

.TV .overlap {
  position: absolute;
  width: 197px;
  height: 122px;
  top: 434px;
  left: 535px;
}

.TV .overlap-group {
  position: absolute;
  width: 143px;
  height: 122px;
  top: 0;
  left: 0;
}

.TV .text-wrapper {
  position: absolute;
  top: 0;
  left: 68px;
  font-family: "Mouse Memoirs-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.TV .ellipse {
  left: 78px;
  position: absolute;
  width: 55px;
  height: 55px;
  top: 54px;
  background-color: #000000;
  border-radius: 27.5px;
}

.TV .github-mark-white {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 56px;
  left: 80px;
  object-fit: cover;
}

.TV .ellipse-2 {
  left: 12px;
  position: absolute;
  width: 55px;
  height: 55px;
  top: 54px;
  background-color: #000000;
  border-radius: 27.5px;
}

.TV .youtube-logo-png {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 42px;
  left: 0;
  object-fit: cover;
}

.TV .discord-wrapper {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 54px;
  left: 142px;
  background-color: #000000;
  border-radius: 27.5px;
}

.TV .discord {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 2px;
  left: 3px;
  object-fit: cover;
}

.TV .text-wrapper-2 {
  position: absolute;
  top: 11px;
  left: 488px;
  font-family: "MuseoModerno-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
